.Forma{
    margin-top: 130px;
    margin-left: 80px;
    margin-bottom: 50px;
        width: 400px;
    background: linear-gradient(to bottom right, #f0f0f0, #ffffff);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    
}
.containerSms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 35%;
    border: 1px solid #0d0b25;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    
  }
  
.sms1{
    color: black;
    font-size: 30px;
    padding: 5px;
    

}
.sms2{
    color: black;
    
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;

}
.icon{
    width: 20%;
    text-align: center;
    margin: auto;
    background: linear-gradient(to right, #003295 0%, #003295 50%, #6a1c5f 53%, #9e003a 56%, #9e003a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}
.Butoni{
    background: linear-gradient(to right, 
     #003295 0%,
    #003295 15%,                                          
    #511048 60%,
    #9e0000 90%,
    #9e0000 100% ) !important;
    color: white;                                         
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.line {
    width: 2px;
    height: 630px;
    background-color: #6c6c6c;                            
    position: absolute;
    left: 6px;
    top: 0;
  }
.rowContact {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    min-height: 650px;
  }
.containerContact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
.containerContact1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
.harta {
    max-width: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin-top: 140px;
  }
.Forma Button{
    background: linear-gradient(
    to right,
    #003295 0%,
    #003295 45%,
    #6a1c5f 55%,
    #9e003a 60%,
    #9e003a 100%
  );
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}
input:focus, input:hover {
    outline: none;
    border: 2px solid #003295;
    box-shadow: 0 0 8px #003295;
    transition: 0.3s ease-in-out;
  }
  
  .Forma Button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #003295;
  }
  
  .background{
    width: 100%;
    margin-top: 50px;
    background-image: url('../images/campnou.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
  }
  
@media screen and (max-width: 768px) {
 
    .rowContact{
      flex-direction: column; 
    }

    .Forma{
        margin-top: 50px;
        width: 100%;
        background: linear-gradient(to bottom right, #f0f0f0, #ffffff);
        
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        margin-left: 0;
    }
    .harta{
        margin-top: 50px;
        width: 100%;
        margin-left: 0px;
        overflow: hidden;
        

    }
    .line {
        display: none;
      }
      
}